---
import PicHeader from "../../components/Pics/PicHeader.astro";
import Footer from "../../components/footer__FR.astro";
import "../../styles/style.css"
import TopBar from "../../components/TopBar__FR.astro";

---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Laissez-nous concevoir un voyage sur-mesure, parfaitement adapté à vos besoins">

    <link rel="alternate" hreflang="en" href="https://www.lilja-tours.com/multiday" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <meta property="og:title" content="Lilja Tours - Agence de voyage islandaise - Circuits sur plusieurs jours">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/pictures/list-all-tours/all-private-day-tours-in-iceland-pc.webp">
    <meta property="og:url" content="https://www.lilja-tours.com/fr/circuits">
    <meta property="og:description" content="Laissez-nous concevoir un voyage sur-mesure, parfaitement adapté à vos besoins">

    <meta property="og:locale" content="fr_FR">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:logo" content="/logos/Lilja-Tours-Full-Logo.png" />


    <title>Circuits personalisés en Islande sur plusieurs jours</title>
</head>
<body>
    <header class="header">
        <TopBar linkfr="/multiday"></TopBar>
        <div class="headerContainerPic">
            <PicHeader srcMobile="/pictures/multiday/multi-header-mobile.webp" srcPC="/pictures/multiday/multi-header-pc.webp" alt="Photographes" title="Lilja Tours travel agency"></PicHeader></div>
            <div class="headerGradient"></div>
            <div class="headerInfos">
                <h1>Circuits sur mesure en Islande</h1>
                <h2>Donnez-nous tous les détails de vos plans, et laissez-nous réaliser vos rêves</h2>  
                <button class="quote"><p><a href="#quote" title="Quote">Demander un devis</a></p></button>
            </div>
        </div>

    </header>

    <main id="quote">
        <h2>Nous voulons connaître vos plans!</h2>
        <p>Veuillez remplir le formulaire ci-dessous avec toutes les informations demandées afin que nous puissions concevoir votre voyage idéal. Chez Lilja Tours, nous sommes spécialisés dans la création d’expériences exceptionnelles et sur mesure, avec une attention méticuleuse aux détails. Chaque voyage avec nous comprend un itinéraire personnalisé, garantissant que vous profitiez du meilleur séjour possible en Islande.</p>
        <iframe data-tally-src="https://tally.so/embed/nPkX0P?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="1229" frameborder="0" marginheight="0" marginwidth="0" title="Nos circuits sont toujours conçus sur mesure. Notre but est de vous offrir une expérience 100% personnalisée. Merci de remplir le formulaire ci-dessous et nous fournir le maximum de détails. "></iframe>
        <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
    </main>

    <Footer/>

</body>
</html>
<style>

a, a:visited {
        text-decoration: none;
        color: white;
    }

    .quote {
        width: 15rem;
        height: 5rem;
        flex-shrink: 0;
        border-radius: 1rem;
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        background: rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(7.5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        transition: .5s;

    }

    .book {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
        width: 100%;
        margin: 0;
    }


    .quote:hover, .quote:focus {
        background: rgba(255, 255, 255, 0.50);
        border: 2px solid rgba(0, 0, 0, 0.30);
        transition: .5s;

        .book {
        color: rgba(0, 0, 0, 0.50);
        }

    }


    section {
        background-color: rgba(255, 255, 255, 0.75);
        margin: 5rem auto;
        padding: 3rem;
        
        border-radius: 1rem;

        h2 {
            font-style: normal;
            font-weight: bold;
            color:rgb(91, 114, 151);
            animation: none;
            opacity: 1;
        }

        h3 {
            color:rgb(91, 114, 151);

        }

        p {
            color: black;
        }

        strong {
            font-weight: normal;
        }
    }

    img {
        border-radius: 1rem;
        display: flex;
        margin: 2rem auto;

    }


    main {
        width: 75%;
        margin-inline: auto;
        padding-block: 5rem;
    }

    .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5rem;

        }

        h1 {
        color: #FFF;
        text-align: center;
        font-size: clamp(2rem, calc(5vw + 1rem), 4rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;

    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        font-style: italic;
    }


@media screen and (max-width: 800px) {
    main h2 {
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem );
    }

    main p {
        font-size: 1rem;
        line-height: 1;
    }

    main {
        width: 90%;
    }

    section {
        padding: 1rem;
    }

    img {
        max-width: 90%;
        height: auto;
    }


}

</style>