---

import "../../styles/style.css";
import { Image } from "astro:assets";
import TopBar from "../../components/TopBar__FR.astro";
import PicHeader from "../../components/Pics/PicHeader.astro";
import Reviews from "../../components/Reviews.astro"
import ItiItem from "../../layouts/ItiItem.astro";
import Footer from "../../components/footer__FR.astro";
import IFY from "../../assets/images/footer/Iceland-for-You-logo.webp"
import HomeContactsFR from "../../components/HomeContacts__FR.astro";

---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Découvrez l'Islande avec Lilja Tours. Profitez de circuits privés sur mesure avec guides experts ou de voyages de luxe en petit groupe. Explorez l’Islande à votre rythme !">


   <link rel="alternate" hreflang="en" href="https://www.lilja-tours.com/" />
   <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <meta property="og:title" content="Lilja Tours - Agence de voyage islandaise">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.lilja-tours.com/pictures/list-all-tours/all-private-day-tours-in-iceland-pc.webp">
    <meta property="og:url" content="https://www.lilja-tours.com/fr/">
    <meta property="og:description" content="Découvrez l'Islande avec Lilja Tours. Profitez de circuits privés sur mesure avec guides experts ou de voyages de luxe en petit groupe. Explorez l’Islande à votre rythme !">

    <meta property="og:locale" content="fr_FR">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:logo" content="/logos/Lilja-Tours-Full-Logo.png" />


    <title>Excursions privées en Islande | Lilja Tours - Agence de voyage Islandaise</title>
</head>
<body>
    <header class="header">
        <TopBar linkfr="/"></TopBar>
        <div class="headerContainerPic">
            <PicHeader srcMobile="/pictures/homepage/headers/volcano-love.webp" srcPC="/pictures/homepage/headers/waterfall-love.webp" alt="Photos de magnifiques paysages islandais" title="Agence de voyage: Lilja Tours"></PicHeader></div>
            <div class="headerGradient"></div>
            <div class="headerInfos">
                <h1>L'expert de vos excursions et circuits en Islande</h1>
                <h2>Voyages sur mesure d'exception avec chauffeur-guide privé</h2>                
            </div>
        </div>

    </header>
    <main>

        <Reviews/>
        <section>
        <ItiItem    
        srcMobile="/pictures/homepage/why-private-mobile.webp",
        itiItemPicSrcPC="/pictures/homepage/why-private-pc.webp",
        itiItemPicAlt="Magnifiques paysages islandais",
        itiItemPicTitle="Voyagez avec un guide privé",
        itiItemTitle="Pourquoi choisir une excursion privée?">
        <p>Une visite privée combine les connaissances approfondies et le confort d'une visite guidée avec la flexibilité d'un voyage en autonomie. Avec une excursion privée et sur mesure, vous restez maître de votre itinéraire, tandis que nos guides dévoués veillent à ce que votre voyage soit inoubliable.</p> <p>Ensemble, nous concevons un itinéraire personnalisé incluant tout, du transport à l'hébergement. Nous vous faisons des suggestions, mais c'est vous qui prenez les décisions finales.</p> <p>Pour les excursions d'une journée, nous proposons une large sélection de circuits prêts à être réservés directement sur notre site web. Chacune de ces visites est entièrement personnalisable, alors n'hésitez pas à nous contacter si vous souhaitez y apporter des modifications.</p> <!-- <p>Si vous voyagez seul, nous avons également une section dédiée pour vous. Vous y trouverez une liste d'excursions à travers toute l'Islande. Nous avons soigneusement sélectionné des partenaires de confiance offrant des services de haute qualité dans tout le pays.</p> -->
    </ItiItem>
        </section>
        <section>
            <ItiItem    
            srcMobile="/pictures/homepage/ify-mobile.webp",
            itiItemPicSrcPC="/pictures/homepage/ify-pc.webp",
            itiItemPicAlt="Magnifiques paysages islandais",
            itiItemPicTitle="Voyagez avec un circuit privé",
            itiItemTitle="Découvrez Iceland For You, notre marque premium pour les voyages de groupe de luxe.">
            <p>Début 2025, nous avons lancé une nouvelle marque dédiée aux circuits de groupe haut de gamme sur plusieurs jours. Découvrez l'Islande dans des hôtels de prestige, avec des véhicules confortables et le service exceptionnel de <strong>Lilja Tours</strong>, à un prix plus abordable qu'un circuit privé.</p>  
            <p>Pour 2025, trois départs sont programmés (4 à 12 participants) :</p>
            
            <ul> 
                <li><a href="https://www.iceland-for-you.com/luxury-ring-road-tour.html" title="Découvrez notre circuit de 10 jours sur la route circulaire en version luxe">Circuit de 10 jours sur la Route Circulaire en septembre</a></li> 
                <li><a href="https://www.iceland-for-you.com/south-west-iceland-adventures-tour.html" title="Découvrez notre circuit de 5 jours en octobre">Circuit Aventure de 5 jours en octobre</a></li> 
                <li><a href="https://www.iceland-for-you.com/south-west-iceland-sightseeing-tour.html" title="Découvrez notre circuit de 5 jours en novembre">Circuit Découverte de 5 jours en novembre</a></li>
            </ul>
            <a href="https://www.iceland-for-you.com" title="See our group tours offer"><Image src={IFY} alt="Iceland for you Logo" width="596" height="426" class="logos" loading="lazy"></Image></a>
        
        </ItiItem>
        </section>

        <HomeContactsFR/>
    </main>
    <Footer/>
</body>
</html>
<style>

ul {
        font-size: 1.25rem;
        color: white;
        list-style-position: inside;
        font-weight: lighter;
    }

    .logos {
        max-width: 50%;
        height: auto;
        display: flex;
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 1rem;
    }
 .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5rem;

        }

        h1 {
        color: #FFF;
        text-align: center;
        font-size: clamp(2rem, calc(5vw + 1rem), 4rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        font-style: italic;
    }

    li a {
        font-size: 1rem;
        color: white;
    }
    li a:visited {
        color: white;
    }


@keyframes Title {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    li a {
        font-size: 1rem;
        color: white;
    }

    li {
        line-height: 1;
    }

    li a:visited {
        color: white;
    }
    main h2 {
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem );
    }

    main p {
        font-size: 1rem;
    }


}

@media screen and (max-width: 800px) {

main p {
    line-height: .9;
}
}

</style>



