---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import TourCards from "../../layouts/fr/TourCards__FR.astro";
import "../../styles/style.css"

import TopBar from "../../components/TopBar__FR.astro";

import PicHeader from "../../components/Pics/PicHeader.astro";
import FooterEN from "../../components/footer__FR.astro";
import TagBarFR from "../../components/tags/TagBar__FR.astro";


const allTours: CollectionEntry<"daytours__FR">[] = await getCollection("daytours__FR")

const {linkFr} = Astro.props
---
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Discover luxury private day tours in Iceland. Explore stunning landscapes with exclusive, tailor-made experiences. Book now!">


       <link rel="alternate" hreflang="en" href="https://www.lilja-tours.com/all-day-tours/" />
       <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="canonical" href="https://www.lilja-tours.com/fr/toutes-nos-excursions/" />


        <meta property="og:title" content="Discover all of our private tours">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://www.lilja-tours.com/pictures/list-all-tours/all-private-day-tours-in-iceland-pc.webp">
        <meta property="og:url" content="https://www.lilja-tours.com/toutes-nos-excursions">
        <meta property="og:description" content="Discover luxury private day tours in Iceland. Explore stunning landscapes with exclusive, tailor-made experiences. Book now!">

        <meta property="og:locale" content="fr_FR">
        <meta property="og:locale:alternate" content="en_US">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:logo" content="/logos/Lilja-Tours-Full-Logo.png" />

        <title>Private tours in Iceland | day tours </title>

        <slot name="jsonld"></slot>

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16894749666">
</script>
<script is:raw>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16894749666');
</script>

    </head>

<body>

    <header class="header">
        <TopBar linkfr="/all-day-tours"></TopBar>
        <div class="headerContainerPic">
            <PicHeader srcMobile="/pictures/list-all-tours/all-private-day-tours-in-iceland-mobile.webp" srcPC="/pictures/list-all-tours/all-private-day-tours-in-iceland-pc.webp" alt="Picture of stunning waterfalls in desertic landscapes" title="All of our day tours in Iceland"></PicHeader></div>
            <div class="headerGradient"></div>
            <div class="headerInfos">
                <h1>Excursions exclusives en Islande avec guide privé</h1>
                <h2>Explorez l'Islande avec style et confort</h2>

                         <TagBarFR/>

                
            </div>
        </div>
    </header>
    <main> 
        <div class="firstText">
           <h2>Excursions Privées à la Journée – Des Expériences Exclusives rien que pour Vous</h2>
           <p>Découvrez notre sélection d’excursions privées au départ de Reykjavík. Ces aventures prêtes à réserver sont disponibles toute l’année pour la plupart et vous offrent une expérience personnalisée avec votre propre véhicule et guide. Le tarif affiché correspond au prix total du véhicule, garantissant un voyage pratique et économique pour votre groupe.</p>
        </div>
    
        <div class="wrapper">
    
        {allTours.filter((baba:any) => baba.data.filter==="norm").map((tour) => (
    
            <TourCards
    tour = {tour}
    >
    
    </TourCards>
    ))}
    </div>
    <div class="firstText">
        <h2>Excursions Privées à la Journée avec Activités Incluses:</h2>
        <p><p>Enrichissez votre aventure islandaise avec nos excursions privées incluant des activités uniques opérées par des prestataires de confiance. Ces circuits allient le confort d’un transport privé à des expériences inoubliables telles que des randonnées sur glacier, des sorties en motoneige ou des bains géothermiques. Le prix de base couvre le véhicule, tandis qu’un supplément par personne s’applique pour l’activité choisie lors de la réservation.</p></p>
    </div>
    
    <div class="wrapper">
    
    {allTours.filter((baba:any) => baba.data.filter==="extra").map((tour) => (
    
        <TourCards
    tour = {tour}
    >
    
    </TourCards>
    ))}
    </div>
    </main>

<FooterEN></FooterEN>
</body>


</html>

<style>

.firstText {
        width: calc(100% - 4rem);
        margin: 2rem auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 1rem;

        p {
            width: 100%;
        }
    }

    main h2 {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
        margin-inline: auto;
        font-style: normal;
    }

    h2:not(:first-child) {
        margin-block: 5rem;
    }

   main {
    width: 90%;
    margin-inline: auto;
    padding: 5rem 0;
   }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
  .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5rem;

        }

        h1 {
        color: #FFF;
        text-align: center;
        font-size: clamp(2rem, calc(5vw + 1rem), 4rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        font-style: italic;
    }

@keyframes Title {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    main h2 {
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem );
    }

    main p {
        font-size: 1rem;
    }

    main {
        padding-block: 2rem;
    }

    .headerInfos {
        gap: 1rem;
    }

    header h2 {
        margin-block: 2rem;
    }

    .wrapper {
        width: 95%;
        margin-inline: auto;
    }

    .firstText {
        width: 95%;
    }

}

</style>