<div class="tags">

    <a href="/fr/excursions-en-islande/cercle-d-or/" title="Voir nos excursions: cercle d'or"><button class="tagButtR">Cercle d'Or</button></a>
    <a href="/fr/excursions-en-islande/cote-sud/" title="Voir nos excursions: côte sud"><button class="tagButtR">Côte Sud</button></a>
    <a href="/fr/excursions-en-islande/hautes-terres/" title="Voir nos excursions: hautes terres"><button class="tagButtR">Hautes Terres</button></a>
    <a href="/fr/excursions-en-islande/ouest-islandais/" title="Voir nos excursions: ouest islandais"><button class="tagButtR">Ouest Islandais</button></a>
    <a href="/fr/excursions-en-islande/reykjavik" title="Voir nos excursions: reykjavik"><button class="tagButtR">Reykjavík</button></a>

    <a href="/fr/excursions-en-islande/decouverte/" title="Voir nos excursions: découverte"><button class="tagButtT">Découverte</button></a>
    <a href="/fr/excursions-en-islande/aventure/" title="Voir nos excursions: aventure"><button class="tagButtT">Aventure</button></a>
    <a href="/fr/excursions-en-islande/randonnee/" title="Voir nos excursions: randonnée"><button class="tagButtT">Randonnée</button></a>
    <a href="/fr/excursions-en-islande/4x4/" title="Voir nos excursions: 4x4"><button class="tagButtT">4x4</button></a>


</div>

<style>
     .tags {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .tagButtR {
        padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: .3s;
            background-color: #5B7297;
    }



        .tagButtT {
            padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            background-color: #292929;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: .3s;
        }
        .tagButtR:hover, .tagButtR:focus,   .tagButtT:hover, .tagButtT:focus {
            filter: brightness(140%);
            translate: 0 -.25rem;
            transition: .3s;
        }
</style>