<div class="tags">

    <a href="/day-tours-iceland/golden-circle/" title="See our Golden Circle tours"><button class="tagButtR">Golden Circle</button></a>
    <a href="/day-tours-iceland/south-coast/" title="See our South Coast tours"><button class="tagButtR">South Coast</button></a>
    <a href="/day-tours-iceland/highlands/" title="See our Highlands tours"><button class="tagButtR">Highlands</button></a>
    <a href="/day-tours-iceland/west-iceland/" title="See our West Iceland tours"><button class="tagButtR">West Iceland</button></a>
    <a href="/day-tours-iceland/reykjavik/" title="See our Reykjavík tours"><button class="tagButtR">Reykjavík</button></a>

    <a href="/day-tours-iceland/sightseeing/" title="See our sightseeing tours"><button class="tagButtT">Sightseeing</button></a>
    <a href="/day-tours-iceland/adventure/" title="See our adventure tours"><button class="tagButtT">Adventure</button></a>
    <a href="/day-tours-iceland/hiking/" title="See our hiking tours"><button class="tagButtT">Hiking</button></a>
    <a href="/day-tours-iceland/jeep-only/" title="See our jeep only tours"><button class="tagButtT">Jeep only</button></a>


</div>

<style>
     .tags {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .tagButtR {
        padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: .3s;
            background-color: #5B7297;
    }



        .tagButtT {
            padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            background-color: #292929;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: .3s;
        }
        .tagButtR:hover, .tagButtR:focus,   .tagButtT:hover, .tagButtT:focus {
            filter: brightness(140%);
            translate: 0 -.25rem;
            transition: .3s;
        }
        
  @media screen and (max-width: 800px) {
    .tags {
        width: 95%;
    }
  }
</style>