---
import burger from "../../assets/icons/hamburger-menu.svg"
import { Picture } from "astro:assets"
---
<button id="menuButton"aria-label="open sidebar" aria-expanded="false" aria-controls="topBarMenu">
    <Picture src={burger} alt="Open menu" title="Open the menu" class="burger" width="32" height="32" loading="lazy">
</button>

<style>
      .burger {
        width: 2rem;
        height: 2rem;
    }
    button {
        border: none;
        background-color: transparent;
        display: block;

    }

</style>

<script>
    const mainMenu = document.getElementById("topBarMenu")
    const openMenuButton = document.getElementById("menuButton")

    openMenuButton?.addEventListener("click", () => {
        mainMenu?.classList.toggle("slide")
        openMenuButton?.setAttribute("aria-expanded", "true")
        mainMenu?.removeAttribute("inert")



    })

</script>