*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  scroll-behavior: smooth;
  content-visibility: auto;
  background-color: #292929;
}

img {
  display: block;
}

h2 {
  font-style: italic;
}

p {
  line-height: 1.4;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: lighter;
  margin-block: 1rem;
  text-align: justify;
  margin-block: 2rem;
  }
  
  li {
  line-height: 1.4;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: lighter;
  margin-block: 1rem;
  text-align: justify;
  
  }
  
  strong {
  font-weight: normal;
  }
  
  
  
  main h2 {
  font-style: normal;
  text-align: left;
  font-weight: normal;
  text-decoration: underline;
  }

@view-transition {
  navigation: auto;
}
