*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  scroll-behavior: smooth;
  content-visibility: auto;
  background-color: #292929;
}

img {
  display: block;
}

h3 {
  color: #a3b9e1;
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-weight: normal;
}

p {
  line-height: 1.4;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: lighter;
  margin-block: 1rem;
}

h2 {
  color: #FFF;
  text-align: center;
  font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
  font-weight: lighter;
  min-width: min-content;
  max-width: max-content;
  text-wrap: balance;

  font-style: italic;
}

@view-transition {
  navigation: auto;
}
