---
import {ISK_to_USD_Rate, ISK_to_EUR_Rate} from "../constants"
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import TourCards from "../layouts/TourCards.astro";
import "../styles/style.css"


const allTours: CollectionEntry<"daytours__EN">[] = await getCollection("daytours__EN")
---
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {allTours.map((tour) => (

        <TourCards
tour = {tour}
>

</TourCards>
))}

    
</body>


</html>