---
import TopBarEN from "../components/TopBar__EN.astro";
import "../styles/style.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: 1000px;">
            <TopBarEN/>
            <div>
                <p style="color:white">Left to do as day tours: SCVT, GSNKL. Maybe add Reykjavík tours. <br>Filter system between tours on page ALL. <br>Index, contact, about, t&C, PrivPolicy. <br>Then one page with form for Multiday. <br>Third party excursion page(s).<br>FAQ Page. <br>Multiday itineraries Collection<br>Blog</p>
            </div>
</body>
</html>



