---

import "../styles/style.css";
import { Image } from "astro:assets";
import TopBar from "../components/TopBar__EN.astro";
import PicHeader from "../components/Pics/PicHeader.astro";
import Reviews from "../components/Reviews.astro"
import ItiItem from "../layouts/ItiItem.astro";
import Footer from "../components/footer__EN.astro";
import IFY from "../assets/images/footer/Iceland-for-You-logo.webp"
import HomeContacts from "../components/HomeContacts.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Experience Iceland with Lilja Tours. Enjoy private tours in Iceland and tailor-made experiences with expert guides. Explore Iceland your way!">
    <title>Private tours in Iceland  - Icelandic Travel Agency</title>

    <link rel="alternate" hreflang="fr" href="https://www.lilja-tours.com/fr/" />
    <link rel="alternate" hreflang="en" href="https://www.lilja-tours.com/" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="canonical" href="https://www.lilja-tours.com/">

    <meta property="og:title" content="Private Tours in Iceland - Lilja Tours - Icelandic Travel Agency">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.lilja-tours.com/pictures/list-all-tours/all-private-day-tours-in-iceland-pc.webp">
    <meta property="og:url" content="https://www.lilja-tours.com/">
    <meta property="og:description" content="Experience Iceland with Lilja Tours. Enjoy private tours in Iceland and tailor-made experiences with expert guides. Explore Iceland your way!">

    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="fr_FR">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:logo" content="https://www.lilja-tours/logos/Lilja-Tours-Full-Logo.png" />

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16894749666">
</script>
<script is:raw>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16894749666');
</script>
</head>
<body>
    <header class="header">
        <TopBar linkfr="/fr"></TopBar>
        <div class="headerContainerPic">
            <PicHeader srcMobile="/pictures/homepage/headers/volcano-love.webp" srcPC="/pictures/homepage/headers/waterfall-love.webp" alt="Private Tours in Iceland - icelandic landscapes, waterfalls and volcanoes" title="Lilja Tours travel agency"></PicHeader></div>
            <div class="headerGradient"></div>
            <div class="headerInfos">
                <h1>The Expert for Your Private Tours in Iceland</h1>
                <h2>Tailored travels with personal driver-guide</h2>                
            </div>
        </div>

    </header>
    <main>

        <Reviews/>

        <section>
        <ItiItem    
        srcMobile="/pictures/homepage/why-private-mobile.webp",
        itiItemPicSrcPC="/pictures/homepage/why-private-pc.webp",
        itiItemPicAlt="Icelandic Travel Agency - Wonderful landscapes",
        itiItemPicTitle="Travel with a private tour",
        itiItemTitle="Why choose a private Tour?">
        <p>Our private tours in Iceland combine the in-depth knowledge and comfort of a guided experience with the flexibility of a self-guided journey. With a private, tailor-made tour, you remain in control while our dedicated guides ensure that your trip is nothing short of exceptional.</p>

            <p>Together, we create a customized itinerary that covers everything from transportation to accommodation. We provide suggestions, but the final decisions are always yours.</p>
            
            <p>For day tours, we offer a wide selection of ready-to-book options available directly on our website. Each of these tours is fully customizable, so don’t hesitate to reach out if you’d like to make any modifications.</p>
            
           <!-- <p>If you’re traveling independently, we also have a dedicated section for you. There, you’ll find a curated list of excursions across Iceland. We’ve carefully selected trusted partners who provide top-quality services throughout the country.
            </p> -->
    </ItiItem>
</section>
<section>
    <ItiItem    
    srcMobile="/pictures/homepage/ify-mobile.webp",
    itiItemPicSrcPC="/pictures/homepage/ify-pc.webp",
    itiItemPicAlt="Wonderful landscapes from Iceland",
    itiItemPicTitle="Travel with a private tour",
    itiItemTitle="Discover Iceland For You. Our premium brand for day tours in small groups">
    <p>In september 2025, we launched a new brand for high-end day tours for small groups. Enjoy Iceland with premium vehicles and Lilja Tours' exceptional service, at a more affordable price than a private tour. We carefully curated itineraries blending must-sees, hidden gems and thrilling activities.</p>  
    <p>Here are some links towards our best-sellers:</p>    
    <ul> 
        <li><a href="https://iceland-for-you.com/tours/golden-circle-premium-lava-tunnel/" title="See our golden circle and lava tunnel tour">Golden Circle and Lava Tunnel</a></li> 
        <li><a href="https://iceland-for-you.com/tours/south-coast-iceland-and-caves-of-hella/" title="See south coast and caves of hella tour">South Coast and caves of Hella</a></li> 
        <li><a href="https://iceland-for-you.com/tours/south-coast-and-glacier-hike/" title="South Coast and glacier Hike">South Coast and Glacier Hike</a></li>
        <li><a href="https://www.iceland-for-you.com/" title="All of our tours">And more ...</a></li>
    </ul>
    <a href="https://www.iceland-for-you.com" title="See our group tours offer"><Image src={IFY} alt="Iceland for you Logo" width="596" height="426" class="logos" loading="lazy"></Image></a>

</ItiItem>
</section>

<HomeContacts/>
        
    </main>
    <Footer/>
</body>
</html>
<style>

    ul {
        font-size: 1.25rem;
        color: white;
        list-style-position: inside;
        font-weight: lighter;
    }

    .logos {
        max-width: 50%;
        height: auto;
        display: flex;
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 1rem;
    }
 .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5rem;

        }

        h1 {
        color: #FFF;
        text-align: center;
        font-size: clamp(2rem, calc(5vw + 1rem), 4rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        font-style: italic;
    }

    li a {
        font-size: 1rem;
        color: white;
    }
    li a:visited {
        color: white;
    }


@keyframes Title {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    main h2 {
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem );
    }

    main p {
        font-size: 1rem;
        line-height: 1;
    }

    li a {
        font-size: 1rem;
        color: white;
    }

    li {
        line-height: 1;
    }

    li a:visited {
        color: white;
    }


}

@media screen and (max-width: 800px) {

    main p {
        line-height: .9;
    }
}

</style>



