---
import { Image } from "astro:assets";
const {linkfr} = Astro.props;
import frenchflag from "../assets/icons/french.svg"
import logo from "../assets/logos/lilja-tours-logo-transparent.png"
import MenuButton from "./buttons/MenuButton.astro";
import CloseButton from "./buttons/CloseButton.astro"
import "../styles/style.css"

---

<div class="topbar"  id="top">
        <a href="/"><Image src={logo} alt="Lilja Tours logo" class="logoTopBar" width="160" height="32"></Image></a>
        <div id="menuButt"><MenuButton></MenuButton></div>

    <nav class="topBarMenu" id="topBarMenu">
        


       <div class="groupMenu">
        <ul class="menuLinks purple">

            <li class="pc"><a href="/about/" class="menuLink nonImp" title="About Lilja Tours">About</a></li>
            <li class="pc"><a href="/contact/" class="menuLink nonImp" title="Contact us">Contact</a></li>


            <!--<li class="pc"><a href="#" class="menuLink nonImp" title="Frequently asked questions">F.A.Q</a></li> -->
            <li class="pc"><a href="/blog/" class="menuLink nonImp" title="Our blog">Blog</a></li>
            <li class="pc"><a href="https://www.iceland-for-you.com" class="menuLink nonImp" title="Go to Iceland for You Website" target="_blank">GROUP TOURS</a></li>

        </ul><div class="close" id="closeButt"><CloseButton></CloseButton></div>
        <ul class="menuLinks whites">
            <li class="pc"><a href="/things-to-do-in-iceland/" class="menuLink" title="List of excursions">ICELAND ON YOUR OWN</a></li>
            <li class="pc"><a href="/all-day-tours/" class="menuLink" title="List of day tours">PRIVATE DAY TOURS</a></li>
            <li class="pc"><a href="/multiday/" class="menuLink" title="List of multiday tours">TAILOR-MADE TOURS</a></li>


                        <li class="pc"><a href={linkfr+"/"} class="menuLink" title="Voir en français / See in french"><Image src={frenchflag} alt="french flag / drapeau français" title="french/français" class="flag" width="100" height="32"  loading="lazy"/></a></li>
        </ul></div>
        
    </nav>

</div>

<style>
    #closeButt {
        float: right;
        display: none;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 100%;

    }

    #menuButt {
        display: none;
        float: right;
    }


    :root {
        --topBarHeight: 3.5rem;
        --transitionTime: .5s;
    }

    /*TOPBAR*/
    .topbar {
        width: 100%;
        background-color: hsl(0, 0%, 20%, 1);
        padding-block: 1rem;
        padding-inline: 2rem;
        display: flex;
        max-height: var(--topBarHeight);
        align-items: center;
        align-content: center;
        position: relative;

    }

    .groupMenu {
        width: 100%; 
        display: flex; 
        justify-content: 
        space-between; 
        align-items:center; 
        gap: 7.5rem; 
        flex-direction: row;
    }

    .menuLinks {
        list-style-position: inside;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        height: 100%;
        align-items: center;

    }



    .topBarMenu {
        width: 100%;
        height: var(--topBarHeight);
       display: flex;
       justify-content: space-between;
        align-items: center;
    }

    .flag {
        width: 2rem;
        filter: brightness(75%);
        transition: var(--transitionTime);
    }

    .flag:hover {
        filter: brightness(120%);
        transition: var(--transitionTime);
        cursor: pointer;
    }

    .burger {
        width: 2rem;
        height: 2rem;
    }

    .logoTopBar {
        max-width: 10rem;
        height: auto;
        aspect-ratio: 5 / 1;
        margin-right: 5rem;

    }
    

    .menuLink {
        color: white !important;
        text-decoration: none;
        font-size: clamp(1rem, 2vw, 1.1rem) !important;
        text-underline-offset: .4rem !important;
        height: 100%;
        transition: var(--transitionTime);
        display: flex;
        align-items: center;
    }



    li {
        display: flex;
        align-items: center;
        padding: 1rem;
        height: 100%;
    }

    .menuLink:hover, .menuLink:focus {
        text-decoration: underline;
        text-underline-offset: .3rem;
        transition: var(--transitionTime);
    }

    .nonImp {
        color: #a3b9e1 !important;
    }


    /*MENUMOBILE*/

    .rectangleMenu {
        width: 100dvw;
        height: calc(100dvh - var(--topBarHeight));
        background-color: white;
        border: .1rem solid #292929;
        position: absolute;
        top: var(--topBarHeight);
        background-color: hsl(0, 100%, 100%, .8);
        backdrop-filter: blur(10px);
    }

    .logoCont {
        width: 100%;
        margin-top: 3rem;
    }

    .menuLogo {
        width: 75%;
        height: auto;
        margin-inline: auto;

    }


    @media  screen and (max-width: 1400px) {

        .topbar {
            justify-content: space-between;
        }
        .topBarMenu {
            height: 100dvh;
            width: 70%;
            position: absolute;
            right: -100%;
            top:0;
            z-index: 999;
            display: flex;
            flex-direction: column;
            background-color: rgba(41, 41, 41, 0.75);
            backdrop-filter: blur(10px);
            transition: .3s;
        }

        .groupMenu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-block: 5rem;
        }

        ul {
            flex-direction: column;
        }

        .slide {
        right: 0;
        transition: .3s;
    }
        .whites {
            order: -1;
        }

      #menuButt {
            display: block;
        }

        #closeButt {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute; 
            right: 1rem;
            top: 1rem;
        }


    }



</style>

<script>
        
const media:any = window.matchMedia("(width < 800px)")
const mainMenu:any = document.querySelector(".topBarMenu")

media.addEventListener("change", (e:any) => updateNavBar(e))

function updateNavBar(e:any) {
    const isMobile = e.matches;
    if (isMobile) {
        mainMenu.setAttribute("inert", "")
    } else {
        mainMenu.removeAttribute("inert")
    }
}
</script>

