---
const {tourTitle, cta, cta2} = Astro.props;
---

<section id="bookings">
    <div class="wrapper">

<h2 class="test">Book your <span class="lj">{tourTitle}</span> and {cta}</h2>

<slot name="carCards"></slot>
<p set:html={cta2}></p>
</div>
</section>

<style>

.wrapper {
        width: 75%;
        margin-inline: auto;
    }
.lj {
    color: #A2B9E1;
}

.test {
      font-size: clamp(1.5rem, 3vw, 2rem);
        color: white;
        font-weight: normal;
        margin-bottom: 5rem;
        text-align: left;
    }

section {
    background-color: #292929;
    padding-block: 5rem;
}

p {
    color: white;
    margin-top: 2rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    a, a:focus, a:visited, a:default, a:active {
    color: white;
    text-decoration-thickness: 1px ;
    text-underline-offset: .25rem;
    
}
}



</style>
