---
import OptionCard from "../components/optionCard.astro";
const {optionPic,
    optionAlt,
    optionPicTitle,
    sumup,
    day,
    optionName
} = Astro.props
---

<section>
    <h2>Options for the tours</h2>
    
</section>